#contacto {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.campo-formulario {
    margin-bottom: 10px;
}

.campo-formulario label {
    display: block;
    margin-bottom: 5px;
}

.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.campo-formulario textarea {
    resize: vertical;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003d82;
}
